ThemeName "ThemeValidate"
ThemeAuthor "Test Author"
ThemeVersion "1.0"

OtsMajorVersion 2
OtsMinorVersion 1

*NetLoadModule alias-0.2
*NetLoadModule dynamp-0.51
*NetLoadModule jkey-0.39

CommandX            0
CommandY            -40
CommandWidth        $ResolutionX-199$
CommandHeight       21
CommandBorderSize   1
CommandBGColor      $ColorLight$
CommandBorderColor  $ColorBorder$
CommandTextColor    $ColorText$
